@use "base/mixins";
@use "sass:math";
@use "variables";

//====================================================================================================
:root {
  --globalAnimDuration: 0.7s;
  --globalAnimDelay: 0.05s;
  // --globalTransitionTiming: cubic-bezier(.67,.17,.51,1.11);
  --globalTransitionTiming: ease;
}

.hero {


  border-radius: 0 0 mixins.toRem(20) mixins.toRem(20);

  position: relative;
  height: mixins.toRem(630);



  @include mixins.adaptiveValue("padding-top", 93.8, 44);


  @media (max-width:mixins.toEm(variables.$mobile)) {
    border-radius: 0 0 mixins.toRem(10) mixins.toRem(10);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      background: linear-gradient(180deg, #112945 1.02%, rgba(17, 41, 69, 0) 100%);
      mix-blend-mode: multiply;
      opacity: 0.8;
      height: mixins.toRem(261);
    }

    &::after {
      content: '';
      position: absolute;
      top: 11%;
      left: 50%;
      transform: translateX(-50%);
      mix-blend-mode: multiply;
      background-image: url('../img/hero/shadow_mobile.svg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: mixins.toRem(142);
      filter: blur(3px);
    }
  }

  @media (max-width:mixins.toEm(variables.$mobileSmall)) {
    height: mixins.toRem(698);
  }

  &__background {
    border-radius: 0 0 mixins.toRem(20) mixins.toRem(20);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: grey;
    background-image: url('../img/hero/hero.webp');
    /* Для Chrome и Safari */
    background-image: -webkit-image-set(url("../img/hero/hero.webp") 1x,
        url("../img/hero/hero@2x.webp") 2x,
        url("../img/hero/hero@3x.webp") 3x);

    /* Для Firefox */
    background-image: image-set(url("../img/hero/hero.webp") type("image/webp") 1x,
        url("../img/hero/hero@2x.webp") type("image/webp") 2x,
        url("../img/hero/hero@3x.webp") type("image/webp") 3x);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
    z-index: -1;

    transform-origin: center center;
    /* Важно для правильного scaling */
    will-change: transform;
    /* Для улучшения производительности */
    animation: bg 2.2s ease 1;

    @media (max-width:mixins.toEm(variables.$mobile)) {
      animation: none;
    }
    @media (max-width:mixins.toEm(variables.$mobileSmall)) {
      background-color: grey;
      border-radius: 0 0 mixins.toRem(10) mixins.toRem(10);
      background-position: center;
      background-image: url('../img/hero/hero_mobile.webp');
      /* Для Chrome и Safari */
      background-image: -webkit-image-set(url("../img/hero/hero_mobile.webp") 1x,
          url("../img/hero/hero_mobile@2x.webp") 2x,
          url("../img/hero/hero_mobile@3x.webp") 3x);

      /* Для Firefox */
      background-image: image-set(url("../img/hero/hero_mobile.webp") type("image/webp") 1x,
          url("../img/hero/hero_mobile@2x.webp") type("image/webp") 2x,
          url("../img/hero/hero_mobile@3x.webp") type("image/webp") 3x);

    }

    @keyframes bg {
      from {
        transform: scale(1.1) translateX(-30px);
      }
      to {
        transform: scale(1) translateX(0);
      }
    }
  }

  &__container {
    max-width: mixins.toRem(1350);
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: -30%;
      mix-blend-mode: multiply;
      background-image: url('../img/hero/shadow.svg');
      background-repeat: no-repeat;
      background-size: cover;
      width: mixins.toRem(791);
      height: mixins.toRem(455.4);
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {

      // padding-left: 0;
      // padding-right: 0;
      &::after {
        content: none;
      }
    }
  }



  &__inner {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 100;

    @media (max-width:mixins.toEm(variables.$tablet)) {
      align-items: center;

    }
  }



  &__title {
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
    text-align: left;
    color: var(--white);


    @include mixins.adaptiveValue("font-size", 61, 40);
    @include mixins.adaptiveValue("margin-bottom", 29, 16.2);

    @media (max-width:mixins.toEm(variables.$tablet)) {
      text-align: center;
      line-height: 100%;
      letter-spacing: -0.02em;
    }
  }

  &__title-second {
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: mixins.toRem(0.38);
    line-height: 110%;
    color: var(--white);
    @include mixins.adaptiveValue("font-size", 45, 22);

    @media (max-width:mixins.toEm(variables.$tablet)) {
      text-align: center;
      max-width: mixins.toRem(375);
      text-transform: none;
      letter-spacing: 0;
    }
  }


  &__red {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    background: var(--red);
    justify-content: center;
    border-radius: mixins.toRem(20);
    height: mixins.toRem(139.8);

    @media (max-width:mixins.toEm(variables.$tablet)) {
      bottom: mixins.toRem(-92);
      height: mixins.toRem(223);
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      border-radius: mixins.toRem(10);
      bottom: mixins.toRem(-55.2);
    }



  }

  &-box__container {
    max-width: mixins.toRem(1350);
    position: absolute;
    bottom: mixins.toRem(32);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;


    @media (max-width:mixins.toEm(variables.$tablet)) {
      flex-direction: column;
      align-items: center;
      bottom: mixins.toRem(16);
    }
  }

  &__button {
    @media (max-width:mixins.toEm(variables.$tablet)) {
      order: 2;
      margin-bottom: mixins.toRem(16.2);
    }
  }

  &__slogan {
    transform: translateX(mixins.toRem(13));
    font-weight: 400;
    line-height: 130%;
    text-align: center;
    color: var(--grey-light);
    height: mixins.toRem(46.4);

    @include mixins.adaptiveValue("font-size", 12, 10);

    @media (max-width:mixins.toEm(variables.$tablet)) {
      letter-spacing: -0.02em;
      order: 3;
      transform: translateX(mixins.toRem(0));
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      max-width: mixins.toRem(320);
      letter-spacing: 0;
    }
  }

  &__bottles {


    @include mixins.adaptiveValue("width", 344, 221);
    @include mixins.adaptiveValue("height", 316, 203);

    img {
      z-index: 1;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      order: 1;
      margin-bottom: mixins.toRem(19.4);
    }
  }
}

.headlights {
  position: absolute;
  mix-blend-mode: screen;

  z-index: 100;
  display: flex;
  align-items: center;
  width: mixins.toRem(331);
  height: mixins.toRem(239);


  @include mixins.adaptiveValue("top", 164, 164, 1920, variables.$mobileSmall);
  @include mixins.adaptiveValue("right", 685, -37, 1920, variables.$mobileSmall);

  @media (max-width:mixins.toEm(variables.$mobileSmall)) {
    @include mixins.adaptiveValue("top", 170, 186.4, variables.$mobileSmall);
    @include mixins.adaptiveValue("right", 80, -0.2, variables.$mobileSmall);
  }

  &__left {
    width: mixins.toRem(109);
    height: mixins.toRem(121);

    @media (max-width:mixins.toEm(variables.$mobileSmall)) {
      width: mixins.toRem(89);
      height: mixins.toRem(101);
    }

  }

  &__right {
    position: absolute;
    right: 3%;
    top: -3%;
    width: mixins.toRem(199);
    height: mixins.toRem(237);

    @media (max-width:mixins.toEm(variables.$mobileSmall)) {
      width: mixins.toRem(169);
      height: mixins.toRem(207);

      @include mixins.adaptiveValue("top", 12, 8, variables.$mobileSmall);
      @include mixins.adaptiveValue("right", 76, 99.4, variables.$mobileSmall);
    }
  }
}

//====================================================================================================
.ow {
  background-color: var(--white);


  &__container {
    max-width: mixins.toRem(1350);
    display: flex;
    gap: mixins.toRem(37);

    padding-top: mixins.toRem(117.2);
    padding-bottom: mixins.toRem(133.2);

    @media (max-width:mixins.toEm(variables.$laptop)) {
      flex-direction: column;
    }

    @media (max-width:mixins.toEm(variables.$tablet)) {
      padding-top: mixins.toRem(144.4);
    }


    @media (max-width:mixins.toEm(variables.$mobile)) {
      padding-top: mixins.toRem(148);
      gap: mixins.toRem(61);
    }
  }

  &__left {
    max-width: mixins.toRem(520.4);
  }

  &__right {
    flex: 1;
    margin-top: mixins.toRem(14);
    @include mixins.adaptiveValue("margin-top", 14, 0, 1920, variables.$laptop);
  }


  &__title {
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--black);

    @include mixins.adaptiveValue("margin-bottom", 14, 10.8);
    @include mixins.adaptiveValue("font-size", 45, 32);


  }

  &__text {
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: var(--grey-dark);
    @include mixins.adaptiveValue("font-size", 22, 16);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      line-height: 138%;
      letter-spacing: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: mixins.toRem(30);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      gap: mixins.toRem(40);
    }
  }

  &__list-item {
    position: relative;
    display: flex;
    width: 100%;
  }

  &__item-content {
    background: var(--grey-light);
    padding: mixins.toRem(21.1) 0 mixins.toRem(26) mixins.toRem(30);
    border-radius: mixins.toRem(15);
    width: 100%;

    @media (max-width:mixins.toEm(variables.$mobile)) {
      padding-left: mixins.toRem(20);
      padding-bottom: mixins.toRem(20);
      border-radius: mixins.toRem(10);
      @include mixins.adaptiveValue("padding-right", 85, 20, variables.$mobile, 375);

    }
  }

  &__item-title {
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--red);
    margin-bottom: mixins.toRem(11);

    @include mixins.adaptiveValue("font-size", 22, 16);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      font-weight: 400;
      letter-spacing: 0;
      padding-right: mixins.toRem(62);
    }
  }

  &__item-text {
    max-width: mixins.toRem(518);
    font-weight: 400;
    font-size: mixins.toRem(16);
    line-height: 140%;
    color: var(--grey-dark);


  }

  &__item-circle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background-color: #fff;
    border-radius: 50% 0 0 50%;
    height: mixins.toRem(152);
    width: mixins.toRem(132);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      height: mixins.toRem(100);
      width: mixins.toRem(100);
      border-radius: 50%;
      justify-content: center;
      top: 11%;
      right: -3%;
    }
  }

  &__item-icon {
    background: var(--grey-light);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    height: mixins.toRem(113);
    width: mixins.toRem(113);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      height: mixins.toRem(77);
      width: mixins.toRem(77);
    }
  }



}




//==========================================================================================

.sale {
  position: relative;

  &::after {
    content: '';

    position: absolute;
    background-image: url('../img/sale/coin_big.webp');
    background-image: -webkit-image-set(url("../img/sale/coin_big.webp") 1x,
        url("../img/sale/coin_big@2x.webp") 2x,
        url("../img/sale/coin_big@3x.webp") 3x);

    /* Для Firefox */
    background-image: image-set(url("../img/sale/coin_big.webp") type("image/webp") 1x,
        url("../img/sale/coin_big@2x.webp") type("image/webp") 2x,
        url("../img/sale/coin_big@3x.webp") type("image/webp") 3x);
    background-size: cover;


    @include mixins.adaptiveValue("width", 274, 165, 1920, variables.$tablet);
    @include mixins.adaptiveValue("height", 286, 174, 1920, variables.$tablet);
    @include mixins.adaptiveValue("top", 17, -60);
    @include mixins.adaptiveValue("right", 443, 105);


  }

  &::before {
    content: '';

    position: absolute;
    background-image: url("../img/sale/coin_min.webp");
    background-image: -webkit-image-set(url("../img/sale/coin_min.webp") 1x,
        url("../img/sale/sale/coin_min@2x.webp") 2x,
        url("../img/sale/coin_min@3x.webp") 3x);

    /* Для Firefox */
    background-image: image-set(url("../img/sale/coin_min.webp") type("image/webp") 1x,
        url("../img/sale/coin_min@2x.webp") type("image/webp") 2x,
        url("../img/sale/coin_min@3x.webp") type("image/webp") 3x);
    background-size: cover;
    background-size: cover;
    // transform: rotate(16deg);

    @include mixins.adaptiveValue("width", 171.4, 94, 1920, variables.$tablet);
    @include mixins.adaptiveValue("height", 208, 126, 1920, variables.$tablet);
    @include mixins.adaptiveValue("top", -43, -80);
    @include mixins.adaptiveValue("right", 354, 38);


  }

  &__red {
    padding-bottom: mixins.toRem(281);
    border-radius: mixins.toRem(20);
    background: linear-gradient(343deg, #bc1f29 0%, #e2000f 100%);

    @include mixins.adaptiveValue("padding-top", 50, 96);
  }


  &__container {
    max-width: mixins.toRem(1345);
    padding-bottom: mixins.toRem(40);

  }

  &__title {
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--white);

    max-width: mixins.toRem(746);

    @include mixins.adaptiveValue("font-size", 45, 32);
    @include mixins.adaptiveValue("margin-bottom", 24, 19.2);
  }

  &__steps {
    display: flex;
    @include mixins.adaptiveValue("gap", 20, 4);

    @media (max-width:mixins.toEm(variables.$tablet)) {
      flex-direction: column;
    }
  }

  &__step {
    flex: 1 1 calc(100% / 3);

  }


  &__count {
    font-weight: 700;
    font-size: mixins.toRem(57);
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--white);
    opacity: 0.6;

    display: flex;
    gap: mixins.toRem(10);

  }

  &__count--border::after {
    content: '';
    border-bottom: 2px dashed var(--white);
    width: 100%;
    transform: translateY(mixins.toRem(-12));

    @media (max-width:mixins.toEm(variables.$tablet)) {
      content: none;
    }
  }

  &__step--border::before {

    @media (max-width:mixins.toEm(variables.$tablet)) {
      content: '';
      border-left: 2px dashed var(--white);
      display: block;
      height: 37px;
      width: 2px;
      opacity: 0.6;
      transform: translate(mixins.toRem(36.8), mixins.toRem(17.6));
    }

  }

  &__text {
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--white);

    @include mixins.adaptiveValue("font-size", 22, 20);
  }

  &__form {
    margin-top: -266px;
    // width: 1096px;
    // height: 682px;
    // background-color: grey;

    // @media (max-width:mixins.toEm(variables.$mobile)) {
    //   width: 344px;
    //   height: 815px;
    // }
  }

  &__data {
    font-weight: 400;
    line-height: 171%;
    text-align: center;
    color: #5f6471;

    @include mixins.adaptiveValue("font-size", 14, 10);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      line-height: 120%;
    }
  }
}

.b24-form-wrapper.b24-form-border-bottom {
  border-bottom: none !important;
}

.b24-form-header-padding,
.b24-form-sign {
  padding: 0 !important;
}

.b24-form-content {
  padding: 53px 49px 40px 50px !important;
}

.b24-form-wrapper {
  background: var(--grey-light) !important;
  border-radius: 20px !important;
  max-width: mixins.toRem(1096) !important;
}

.b24-form-field {
  margin: 0 !important;
}

form * {
  margin: 0 !important;
}

form>div:first-child {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 71px) 15px 11px 50px 59px;
  grid-column-gap: 20px;
  grid-row-gap: 35px;
}

.b24-form-field-name {
  grid-area: 1 / 1 / 2 / 5;
}

.b24-form-field-email {
  grid-area: 2 / 1 / 3 / 5;
}

.b24-form-field-text {
  grid-area: 1 / 5 / 3 / 9;
}

.b24-form-field-file .b24-form-control-required {
  display: none;
}

form>div:first-child .b24-form-field:nth-child(3) {
  grid-area: 3 / 1 / 4 / 9;
}

form>div:first-child .b24-form-field:nth-child(4) {
  grid-area: 4 / 1 / 5 / 5;
}

form>div:first-child .b24-form-field:nth-child(6) {
  grid-area: 4 / 5 / 5 / 9;
}

form>div:first-child .b24-form-field:nth-child(5) {
  grid-area: 5 / 1 / 6 / 5;
}

form>div:first-child .b24-form-field:nth-child(7) {
  grid-area: 5 / 5 / 6 / 9;
}

form>div:first-child .b24-form-field:nth-child(8) {
  grid-area: 6 / 1 / 7 / 9;
}

//==========================================================================================

.questions {
  padding-top: mixins.toRem(112);
  padding-bottom: mixins.toRem(141);

  @media (max-width:mixins.toEm(variables.$tablet)) {
    padding-bottom: mixins.toRem(236);
  }

  &__container {
    max-width: mixins.toRem(1345);
    display: flex;

    @include mixins.adaptiveValue("gap", 41, 20);

    @media (max-width:mixins.toEm(variables.$tablet)) {
      flex-direction: column;
    }
  }

  &__title {
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--black);

    @include mixins.adaptiveValue("font-size", 45, 32);
  }

  &__list {
    margin-top: mixins.toRem(11);
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: mixins.toRem(20);
  }
}

.accordion {

  &__item {
    background: #f5f7f8;
    border-radius: mixins.toRem(8);

    &.active .accordion__title {
      color: var(--red);
    }

    &.active .accordion__icon::after {
      transform-origin: center center;
      transform: translate(-50%, -50%) rotate(90deg);
      background-color: var(--red);
    }

    &.active .accordion__icon::before {
      opacity: 0;
    }

    &.active .accordion__button {
      @include mixins.adaptiveValue("padding-bottom", 14, 11);
    }

    &:last-child .accordion__button {
      padding: mixins.toRem(13) mixins.toRem(20);
      padding-right: mixins.toRem(39);

      @media (max-width:mixins.toEm(variables.$mobile)) {
        padding: mixins.toRem(15.4) mixins.toRem(10);
        padding-right: mixins.toRem(20);
      }
    }

  }

  &__button {
    display: flex;
    justify-content: space-between;
    gap: mixins.toRem(20);
    width: 100%;
    padding: mixins.toRem(21.5) mixins.toRem(20);
    padding-right: mixins.toRem(39);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      padding: mixins.toRem(15.2) mixins.toRem(10);
      padding-right: mixins.toRem(20);
    }

  }

  &__title {
    font-weight: 400;
    line-height: 130%;
    text-align: center;
    color: var(--black);
    text-align: left;
    transition: color 0.3s ease;

    @include mixins.adaptiveValue("font-size", 20, 16);
  }

  &__icon {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform-origin: center center;
      transform: translate(-50%, -50%) rotate(0);
      background-color: var(--black);
      transition: transform 0.3s ease;

      @include mixins.adaptiveValue("width", 2, 1);
      @include mixins.adaptiveValue("height", 20, 14);
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: var(--black);

      @include mixins.adaptiveValue("width", 20, 15);
      @include mixins.adaptiveValue("height", 2, 1);
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  &__content-inner {
    padding: 0 mixins.toRem(20) mixins.toRem(21.5) mixins.toRem(20);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      padding: 0 mixins.toRem(20) mixins.toRem(8.7) mixins.toRem(10);
    }
  }

  &__answer {
    font-weight: 400;
    line-height: 130%;
    color: var(--grey-dark);
    @include mixins.adaptiveValue("font-size", 16, 14);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      line-height: 150%;
      color: var(--black);
    }
  }
}

//==========================================================================================
.ozon {

  @media (min-width:mixins.toEm(variables.$mobile)) {
    background: var(--angularGradient);
    border-radius: mixins.toRem(20) mixins.toRem(20) 0 0;
  }

  @media (max-width:mixins.toEm(variables.$mobile)) {
    background: linear-gradient(80deg,
        #0069FF 16%,
        #783DBF 58%,
      );

    border-radius: mixins.toRem(0);
  }


  &__container {
    max-width: mixins.toRem(1385);
    // padding-left: mixins.toRem(0);
    // padding-right: mixins.toRem(143.2);

    @include mixins.adaptiveValue("padding-top", 84, 84);
    @include mixins.adaptiveValue("padding-bottom", 0, 84, 1920, variables.$tablet);
    @include mixins.adaptiveValue("padding-left", 0, 20, 1920, variables.$tablet);
    @include mixins.adaptiveValue("padding-right", 143.2, 20, 1920, variables.$tablet);



  }

  &__img {

    transform: translate(0, -36%);
    @include mixins.adaptiveValue("width", 403.8, 228);
    @include mixins.adaptiveValue("height", 708.2, 226);

    @media (max-width:mixins.toEm(variables.$tablet)) {
      transform: translate(0, mixins.toRem(29));
      margin-bottom: mixins.toRem(39.4);
      width: mixins.toRem(228);
      height: mixins.toRem(226);
    }

  }

  &__content {
    display: flex;
    justify-content: space-between;

    @media (max-width:mixins.toEm(variables.$tablet)) {
      flex-direction: column;
      align-items: center;
      text-align: center;
      transform: translateY(-55%);
    }
  }

  &__box {
    display: flex;

    @media (max-width:mixins.toEm(variables.$tablet)) {
      flex-direction: column;
      align-items: center;
    }
  }


  &__text {
    font-weight: 500;
    line-height: 130%;
    text-transform: uppercase;
    color: var(--white);
    // transform: translateX(mixins.toRem(-74));
    max-width: mixins.toRem(526);
    @include mixins.adaptiveValue("font-size", 32, 26);

    @media (max-width:mixins.toEm(variables.$tablet)) {
      font-weight: 400;
      text-transform: none;
      @include mixins.adaptiveValue("margin-bottom", 20, 32);

    }

    @media (max-width:mixins.toEm(variables.$mobileSmall)) {
      max-width: mixins.toRem(327);
    }
  }

  &__button {
    width: 100%;
    max-width: mixins.toRem(294);
    border-radius: mixins.toRem(8);
    position: relative;
    right: -30px;

    @include mixins.adaptiveValue("font-size", 22, 18);
    @include mixins.adaptiveValue("height", 81, 58);
    @include mixins.adaptiveValue("right", -30, 0, 1920, variables.$tablet);

    @media (max-width:mixins.toEm(variables.$tablet)) {
      max-width: mixins.toRem(335);
    }
  }
}

.footer {
  background-color: var(--red);
  color: var(--light);
  position: relative;
  z-index: 1000;
  border-radius: mixins.toRem(20) mixins.toRem(20) 0 0;
  @include mixins.adaptiveValue("margin-top", -495, -300, 1920, variables.$tablet);

  @media (max-width:mixins.toEm(variables.$tablet)) {
    border-radius: mixins.toRem(10) mixins.toRem(10) 0 0;
    @include mixins.adaptiveValue("margin-top", -250, -270, variables.$tablet, variables.$mobileSmall);
  }

  &__container {
    display: flex;
    align-items: flex-start;
    gap: mixins.toRem(10);
    justify-content: space-between;
    max-width: mixins.toRem(1350);

    @include mixins.adaptiveValue("padding-top", 80, 39);
    @include mixins.adaptiveValue("padding-bottom", 120, 71);


    @media (max-width:mixins.toEm(variables.$mobile)) {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: mixins.toRem(41);
    }
  }

  &__col {
    display: flex;
    flex-direction: column;

    &:nth-child(3) {
      align-items: flex-end;

      @media (max-width:mixins.toEm(variables.$mobile)) {
        align-items: center;
      }
    }

    a {
      display: block;
      font-size: mixins.toRem(24);
      color: var(--white);

      &:not(:last-child) {
        margin-bottom: mixins.toRem(2);
      }
    }

    span {
      font-size: mixins.toRem(14);
      line-height: math.div(24, 14);
      opacity: 0.8;
    }

    p {
      line-height: math.div(24, 16);
      font-size: mixins.toRem(16);

      .footer__year {
        line-height: inherit;
        font-size: inherit;
        opacity: 1;
      }
    }


    @media (max-width:mixins.toEm(variables.$mobile)) {
      &:not(:last-child) {
        margin-bottom: mixins.toRem(9);
      }
    }
  }

  &__logo {
    height: mixins.toRem(57);

    img {
      height: 100%;
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      order: -1;
    }
  }
}