@use "base/mixins";
@use "sass:math";
@use "variables";

//====================================================================================================
:root {
  --globalAnimDuration: 0.7s;
  --globalAnimDelay: 0.05s;
  // --globalTransitionTiming: cubic-bezier(.67,.17,.51,1.11);
  --globalTransitionTiming: ease;
}

.hero {
  background-color: grey;
  background-image: url('../img/hero/hero.webp');
  /* Для Chrome и Safari */
  background-image: -webkit-image-set(url("../img/hero/hero.webp") 1x,
      url("../img/hero/hero@2x.webp") 2x,
      url("../img/hero/hero@3x.webp") 3x);

  /* Для Firefox */
  background-image: image-set(url("../img/hero/hero.webp") type("image/webp") 1x,
      url("../img/hero/hero@2x.webp") type("image/webp") 2x,
      url("../img/hero/hero@3x.webp") type("image/webp") 3x);
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 0 0 mixins.toRem(20) mixins.toRem(20);

  position: relative;
  height: mixins.toRem(630);



  @include mixins.adaptiveValue("padding-top", 93.8, 33);


  @media (max-width:mixins.toEm(variables.$mobile)) {
    height: mixins.toRem(628);
    border-radius: 0 0 mixins.toRem(10) mixins.toRem(10);
  }

  @media (max-width:mixins.toEm(variables.$mobileSmall)) {
    height: mixins.toRem(535.2);
    background-position: center;
    background-image: url('../img/hero/hero_mobile.webp');
    /* Для Chrome и Safari */
    background-image: -webkit-image-set(url("../img/hero/hero_mobile.webp") 1x,
        url("../img/hero/hero_mobile@2x.webp") 2x,
        url("../img/hero/hero_mobile@3x.webp") 3x);

    /* Для Firefox */
    background-image: image-set(url("../img/hero/hero_mobile.webp") type("image/webp") 1x,
        url("../img/hero/hero_mobile@2x.webp") type("image/webp") 2x,
        url("../img/hero/hero_mobile@3x.webp") type("image/webp") 3x);

  }

  &__container {
    max-width: mixins.toRem(1350);
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: -30%;
      mix-blend-mode: multiply;
      background-image: url('../img/hero/shadow.svg');
      background-repeat: no-repeat;
      background-size: cover;
      width: mixins.toRem(791);
      height: mixins.toRem(455.4);
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      padding-right: 0;
      padding-left: 0;
    }
  }



  &__inner {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 100;
  }



  &__title {
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
    text-align: left;
    color: var(--white);
    margin-bottom: mixins.toRem(29);


    @include mixins.adaptiveValue("font-size", 61, 40);

    @media (max-width:mixins.toEm(variables.$mobile)) {}
  }

  &__title-second {
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: mixins.toRem(0.38);
    line-height: 110%;
    color: var(--white);
    @include mixins.adaptiveValue("font-size", 45, 22);
  }


  &__red {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    height: mixins.toRem(139.8);
    background: var(--red);
    justify-content: center;
    border-radius: mixins.toRem(20);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      height: mixins.toRem(162);
      border-radius: mixins.toRem(10);
      bottom: mixins.toRem(-92);
    }
  }

  .hero-box__container {
    max-width: mixins.toRem(1350);
    position: absolute;
    bottom: mixins.toRem(32);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;


    @media (max-width:mixins.toEm(variables.$mobile)) {
      flex-direction: column;
      align-items: flex-start;
      bottom: mixins.toRem(-8);
    }
  }

  &__button {
    @media (max-width:mixins.toEm(variables.$mobile)) {
      order: 2;
      margin-bottom: mixins.toRem(21);
    }
  }

  &__slogan {
    transform: translateX(mixins.toRem(13));
    font-weight: 400;
    line-height: 130%;
    text-align: center;
    color: var(--grey-light);
    height: mixins.toRem(46.4);

    @include mixins.adaptiveValue("font-size", 12, 10);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      letter-spacing: -0.02em;
      order: 3;
    }
  }

  &__bottles {


    @include mixins.adaptiveValue("width", 344, 194);
    @include mixins.adaptiveValue("height", 316, 232);

    img {
      z-index: 1;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      order: 1;
      margin-bottom: mixins.toRem(15);
      transform: translateY(0) translateX(mixins.toRem(-7));
    }
  }
}

//====================================================================================================
.ow {
  background-color: var(--white);


  &__container {
    max-width: mixins.toRem(1350);
    display: flex;
    gap: 37px;

    padding-top: mixins.toRem(117.2);
    padding-bottom: mixins.toRem(130);


    @media (max-width:mixins.toEm(variables.$mobile)) {
      padding-top: mixins.toRem(176.4);
      padding-bottom: mixins.toRem(90);
    }
  }

  &__left {
    max-width: mixins.toRem(520.4);
  }

  &__right {
    // width: 100%;
    flex: 1;
    margin-top: 14px;
  }


  &__title {
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--black);

    @include mixins.adaptiveValue("margin-bottom", 14, 20.4);
    @include mixins.adaptiveValue("font-size", 45, 32);

  }

  &__text {
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: var(--grey-dark);
    @include mixins.adaptiveValue("font-size", 22, 16);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      line-height: 140%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__list-item {
    position: relative;
    display: flex;
    width: 100%;
  }

  &__item-content {
    background: var(--grey-light);
    padding: 21.1px 0 26px 30px;
    border-radius: 15px;
    width: 100%;
  }

  &__item-title {
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--red);
    margin-bottom: 11px;
  }

  &__item-text {
    max-width: mixins.toRem(518);
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--grey-dark);
  }

  &__item-circle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background-color: #fff;
    border-radius: 50% 0 0 50%;
    height: 152px;
    width: 132px;
  }

  &__item-icon {
    background: var(--grey-light);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    height: 113px;
    width: 113px;
  }



}

.line {
  background-image: url('../img/line/bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  @media (max-width:mixins.toEm(variables.$mobileSmall)) {
    background-image: url('../img/line/bg_mobile.webp');
  }

  &__container {
    max-width: mixins.toRem(1350);
    text-align: center;
    padding-bottom: mixins.toRem(128);
    @include mixins.adaptiveValue("padding-top", 129, 108.2);
    @include mixins.adaptiveValue("padding-bottom", 128, 58);
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @media (max-width:mixins.toEm(variables.$tablet)) {
      flex-direction: column;
    }
  }

  &__left,
  &__right {
    position: relative;
    z-index: 100;
  }

  &__left {
    @media (max-width:mixins.toEm(variables.$tablet)) {
      order: 2;
      margin-bottom: mixins.toRem(20);
    }
  }

  &__right {
    @media (max-width:mixins.toEm(variables.$tablet)) {
      order: 3;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    @include mixins.adaptiveValue("gap", 24, 20, variables.$laptop, variables.$tablet );
  }

  &__list--left {

    .line__list-item {

      &:nth-child(odd) {
        svg {
          @include mixins.adaptiveValue("width", 515, 380, variables.$laptop, variables.$tablet );
        }
      }

    }

    svg {
      position: absolute;
      top: mixins.toRem(-26);

      @include mixins.adaptiveValue("left", -29, -20, variables.$laptop, variables.$tablet );
      @include mixins.adaptiveValue("width", 455, 330, variables.$laptop, variables.$tablet );
      @include mixins.adaptiveValue("height", 174, 145, variables.$laptop, variables.$tablet );
    }
  }

  &__list--right {

    .line__list-item {
      gap: 18px;
      justify-content: flex-end;

      &:nth-child(odd) {
        svg {
          @include mixins.adaptiveValue("width", 517, 380, variables.$laptop, variables.$tablet );
        }
      }

      .line__list-text {
        text-align: center;
        @include mixins.adaptiveValue("max-width", 220, 200, variables.$laptop, variables.$tablet );
      }

      @media (max-width:mixins.toEm(variables.$tablet)) {
        flex-direction: row-reverse;

        .line__list-text {
          text-align: left;
          max-width: mixins.toRem(226);
        }
      }

    }

    svg {
      position: absolute;
      top: mixins.toRem(-26);

      @include mixins.adaptiveValue("right", -41, -30, variables.$laptop, variables.$tablet );
      @include mixins.adaptiveValue("width", 463, 330, variables.$laptop, variables.$tablet );
      @include mixins.adaptiveValue("height", 174, 145, variables.$laptop, variables.$tablet );
    }

  }

  &__list-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: mixins.toRem(10) mixins.toRem(15);

    @include mixins.adaptiveValue("gap", 29, 20, variables.$laptop, variables.$tablet );

    @media (max-width:mixins.toEm(variables.$tablet)) {
      svg {
        display: none;
      }

      box-shadow: 4px 5px 20px 0 rgba(174, 174, 192, 0.7),
      -10px -10px 30px 0 var(--white);
      background: #f0f0f3;
      border-radius: mixins.toRem(10);
      padding: mixins.toRem(7) mixins.toRem(10) mixins.toRem(8);
    }
  }

  &__list-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 30px 0 rgba(168, 65, 65, 0.4), -10px -10px 30px 0 #ffd2d2, 0 4px 10px 0 rgba(239, 9, 16, 0.65);
    background: var(--red);
    z-index: 1;


    @include mixins.adaptiveValue("width", 92, 60, variables.$laptop, variables.$tablet);
    @include mixins.adaptiveValue("height", 89, 60, variables.$laptop, variables.$tablet);
    @include mixins.adaptiveValue("border-radius", 9, 6);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      box-shadow: 7px 7px 20px 0 rgba(168, 65, 65, 0.4), -7px -7px 20px 0 #ffd2d2, 0 3px 7px 0 rgba(239, 9, 16, 0.65);
    }
  }

  &__list-text {
    max-width: mixins.toRem(220);
    text-align: left;
    z-index: 1;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #535865;

    @include mixins.adaptiveValue("font-size", 20, 16, variables.$laptop,
      variables.$tablet);

    @media (max-width:mixins.toEm(variables.$tablet)) {
      max-width: mixins.toRem(226);
    }
  }

  &__ellipse {
    transform-origin: center;
  }


  &__center {
    position: absolute;
    left: 50%;
    top: 52%;
    translate: -50% -50%;
    z-index: 10;

    img {

      @include mixins.adaptiveValue("width", 350, 270, variables.$laptop, variables.$tablet );
      @include mixins.adaptiveValue("height", 417.5, 319, variables.$laptop, variables.$tablet );

      @media (max-width:mixins.toEm(variables.$tablet)) {
        width: auto;
        height: auto;
      }
    }

    svg {
      position: absolute;
      left: 50%;
      top: 47%;
      translate: -50% -50%;
      z-index: -1;
      @include mixins.adaptiveValue("height", 631, 482, 1920, variables.$tablet);
    }

    @media (max-width:mixins.toEm(variables.$tablet)) {
      img {
        margin: 0 auto;
      }

      margin-bottom: mixins.toRem(37);
      order: 1;
      position: static;
      translate: 0 0;

      svg {
        @include mixins.adaptiveValue("height", 534, 482, variables.$tablet, variables.$mobileSmall);
        @include mixins.adaptiveValue("top", 152, 131, variables.$tablet, variables.$mobileSmall);
      }
    }

    @media (max-width:mixins.toEm(variables.$mobileSmall)) {
      svg {
        height: auto;
        top: 33%;
      }
    }

    @media (min-width:mixins.toEm(variables.$mobile)) and (max-width:mixins.toEm(variables.$tablet)) {
      height: mixins.toRem(310);
    }
  }

}

.tech {

  &__container {
    max-width: mixins.toRem(1350);

    @include mixins.adaptiveValue("padding-top", 135, 96);
  }

  &__suptitle {
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--red);
    margin-bottom: mixins.toRem(7);

    @include mixins.adaptiveValue("font-size", 22, 16);
  }

  &__title {
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--grey-dark);

    span {
      color: #121212;
    }

    @include mixins.adaptiveValue("font-size", 50, 32);
    @include mixins.adaptiveValue("margin-bottom", 5, 12);
  }

  &__list {
    display: flex;
    flex-direction: column;

    @include mixins.adaptiveValue("gap", 11, 22);
  }


  &__count {
    position: relative;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--grey);
    opacity: 0.3;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: mixins.toRem(1);
      background-color: #a9afb9;

      @include mixins.adaptiveValue("bottom", 5, 0);
    }

    @include mixins.adaptiveValue("font-size", 90, 70);
    @include mixins.adaptiveValue("margin-bottom", 7, 19);
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @media (max-width:mixins.toEm(variables.$laptop)) {
      gap: mixins.toRem(22);
    }

    @media (max-width:mixins.toEm(variables.$tablet)) {
      flex-direction: column;
    }
  }

  &__text {
    max-width: mixins.toRem(537);
    font-weight: 400;
    font-size: 22px;
    line-height: 130%;
    color: #121212;

    &--mb {
      margin-bottom: mixins.toRem(33);

      @media (max-width:mixins.toEm(variables.$mobile)) {
        margin-bottom: 0;
      }
    }

    @include mixins.adaptiveValue("font-size", 22, 16);

    @media (max-width:mixins.toEm(variables.$tablet)) {
      max-width: none;
    }

  }

  &__img-box {
    position: relative;
    display: flex;
    flex-direction: column;

    @include mixins.adaptiveValue("gap", 12, 20);

    &--1 {
      width: mixins.toRem(762);
      height: mixins.toRem(280);

      @media (max-width:mixins.toEm(variables.$tablet)) {
        width: auto;
        height: auto;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: mixins.toRem(15) mixins.toRem(15) 0 0;

        @media (max-width:mixins.toEm(variables.$tablet)) {
          width: auto;
          height: auto;
        }

        @media (max-width:mixins.toEm(variables.$mobile)) {
          border-radius: mixins.toRem(10);
        }
      }
    }
  }

  &__img-text {
    position: absolute;
    top: 40%;
    left: 50%;
    translate: -50% -50%;
    box-shadow: 0 6px 14px 0 rgba(32, 33, 46, 0.12), 0 26px 26px 0 rgba(34, 35, 44, 0.1), 0 102px 41px 0 rgba(38, 39, 55, 0.02), -4px -4px 7px 0 rgba(239, 241, 243, 0.6);
    background: var(--grey-light);

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: var(--font-family);
    font-weight: 700;
    line-height: 110%;
    text-align: center;
    color: var(--grey-dark);

    @include mixins.adaptiveValue("font-size", 14, 11);
    @include mixins.adaptiveValue("width", 359, 299);
    @include mixins.adaptiveValue("height", 44, 36);
    @include mixins.adaptiveValue("border-radius", 15, 13);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      top: 42%;
      left: 52%;
      box-shadow: 0 5px 12px 0 rgba(32, 33, 46, 0.12), 0 21px 21px 0 rgba(34, 35, 44, 0.1), 0 85px 34px 0 rgba(38, 39, 55, 0.02), -3px -3px 6px 0 rgba(239, 241, 243, 0.6);
    }
  }

  &__conclusion {
    background: var(--red);
    border-radius: 0 0 mixins.toRem(15) mixins.toRem(15);
    padding: mixins.toRem(20) mixins.toRem(24);

    &--text {
      font-weight: 300;
      line-height: 130%;
      color: var(--white);
      max-width: mixins.toRem(714);

      span {
        font-weight: 700;
      }

      @include mixins.adaptiveValue("font-size", 22, 16);
    }
  }
}


//==========================================================================================

//==========================================================================================
.assort {
  background-color: var(--white);

  &__container {
    max-width: mixins.toRem(1350);

    @include mixins.adaptiveValue("padding-top", 137, 97.2);
    @include mixins.adaptiveValue("padding-bottom", 139.6, 101.52);

    @media (max-width:mixins.toEm(variables.$mobile)) {}
  }

  &__suptitle {
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--red);

    @include mixins.adaptiveValue("font-size", 22, 16);
    @include mixins.adaptiveValue("margin-bottom", 5, 7);
  }

  &__title {
    opacity: 0;
    translate: 0 mixins.toRem(30);
    text-transform: uppercase;
    line-height: math.div(60, 50);
    letter-spacing: -0.02em;
    color: #121212;

    @include mixins.adaptiveValue("margin-bottom", 27.2, 30.4);

    @include mixins.adaptiveValue("font-size", 50, 32);


    .loaded & {
      transition:
        translate var(--globalAnimDuration) var(--globalTransitionTiming),
        opacity var(--globalAnimDuration) var(--globalTransitionTiming);
    }

    .loaded ._watcher-view & {
      opacity: 1;
      translate: 0 0;
    }
  }


  &__track {
    overflow: visible;
    @include mixins.adaptiveValue("margin-bottom", 26.4, 18.4);
  }

  &__slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: var(--grey-light);
    border: mixins.toRem(1) solid var(--light_grey);
    border-radius: mixins.toRem(10);
    padding: mixins.toRem(20);
    // opacity: 0;
    // translate: 0 mixins.toRem(30);

    @media (max-width:mixins.toEm(variables.$tablet)) {
      scroll-snap-align: start;
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      margin-right: mixins.toRem(10) !important;
    }



    &:nth-child(1) {
      @include mixins.adaptiveValue("gap", 11, 25.2);
    }

    @include mixins.adaptiveValue("gap", 21, 46);
    @include mixins.adaptiveValue("min-width", 315, 283);
    // .loaded & {
    //   transition:
    //     translate var(--globalAnimDuration) var(--globalTransitionTiming),
    //     opacity var(--globalAnimDuration) var(--globalTransitionTiming);

    //   --delay: calc((var(--globalAnimDuration) / 4) * var(--index, 1) + (var(--globalAnimDuration) / 2));
    //   transition-delay: var(--delay);
    // }

    // .loaded ._watcher-view & {
    //   opacity: 1;
    //   translate: 0 0;
    // }
  }

  &__image {
    max-width: mixins.toRem(180);
  }

  &__name {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
    opacity: 0;
    translate: 0 mixins.toRem(30);
    color: #121212;
    align-items: center;
    @include mixins.adaptiveValue("font-size", 25, 20);

    // span {

    //   &:last-child {
    //     color: #828080;
    //   }
    // }

    &:not(:last-child) {
      @include mixins.adaptiveValue("margin-bottom", 5, -4.6);
    }

    .loaded & {
      transition:
        translate calc(var(--globalAnimDuration) * 2) var(--globalTransitionTiming),
        opacity calc(var(--globalAnimDuration) * 2) var(--globalTransitionTiming);
    }

    .loaded ._watcher-view & {
      opacity: 1;
      translate: 0 0;
    }
  }

  &__buttons {
    align-self: stretch;
    gap: mixins.toRem(10);
    text-align: center;
    margin-top: auto;
  }

  &__button {
    padding: mixins.toRem(5) mixins.toRem(17.6);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: mixins.toRem(14);

    @media (max-width:mixins.toEm(variables.$laptop)) {
      min-height: mixins.toRem(46);
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      min-height: mixins.toRem(36);
      padding: 0 mixins.toRem(20);
    }
  }

  &__progress {
    background-color: var(--scrollbar_bg);
    border-radius: calc(1px / 0);
    position: relative;
    overflow: hidden;
    opacity: 0;
    translate: 0 mixins.toRem(30);

    @include mixins.adaptiveValue("height", 5, 3);

    .loaded & {
      transition:
        translate var(--globalAnimDuration) var(--globalTransitionTiming),
        opacity var(--globalAnimDuration) var(--globalTransitionTiming);

      transition-delay: 1.1s;
    }

    .loaded ._watcher-view & {
      opacity: 1;
      translate: 0 0;
    }

    i {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background-color: var(--red);
      border-radius: calc(1px / 0);

      .loaded & {
        transition: width 0.3s ease 0s, translate 0.3s ease 0s;
      }
    }
  }
}

//==========================================================================================
.ozon {

  @media (min-width:mixins.toEm(variables.$mobile)) {
    background: var(--angularGradient);
    border-radius: mixins.toRem(20) mixins.toRem(20) 0 0;
  }

  @media (max-width:mixins.toEm(variables.$mobile)) {
    background: linear-gradient(101deg,
        #F1107E 0%,
        #783DBF 20%,
        #0069FF 50%,
        #783DBF 75%,
        #F1107E 100%);

    border-radius: mixins.toRem(20);
  }


  &__container {
    max-width: mixins.toRem(1250);
    padding-left: mixins.toRem(20);
    padding-right: mixins.toRem(20);



    @include mixins.adaptiveValue("padding-top", 69.8, 50);
    @include mixins.adaptiveValue("padding-bottom", 96.8, 84);

  }

  &__img {
    position: relative;

    @media (max-width:mixins.toEm(variables.$tablet)) {
      margin-bottom: mixins.toRem(26);
    }

    @include mixins.adaptiveValue("width", 559, 345);
    @include mixins.adaptiveValue("height", 251, 146);

    &-bg,
    img {
      position: absolute;
      transition: 0.5s ease;
      translate: -50% -50%;
    }

    &-bg {
      transform-origin: center;
      border-radius: 96px;
      width: 100%;
      background: conic-gradient(from 256deg, rgba(255, 255, 255, 1) 0deg, transparent 14.6228deg, transparent 39.1289deg, rgba(255, 255, 255, 1) 72.8236deg, transparent 91.7308deg, transparent 125.917deg, rgba(255, 255, 255, 1) 144.405deg, transparent 167.559deg, transparent 199.71deg, rgba(255, 255, 255, 1) 216.735deg, transparent 228.462deg, transparent 260.199deg, rgba(255, 255, 255, 1) 288.651deg, transparent 306.346deg, transparent 346.5deg, rgba(255, 255, 255, 1) 360deg);
      -webkit-mask: radial-gradient(37.51% 48.7% at 50% 50%, #ffffff6b 65.82%, rgba(255, 255, 255, 0) 100%);
      mask: radial-gradient(45.51% 48.7% at 50% 50%, #ffffff5d 65.82%, rgba(255, 255, 255, 0) 100%);

      @include mixins.adaptiveValue("height", 321, 156, variables.$tablet);
    }

    &-bg {
      top: 46%;
      left: 54%;

      @media (max-width:mixins.toEm(variables.$tablet)) {
        top: 49%;
        left: 50%;
      }
    }

    img {
      top: 64%;
      left: 58.3%;

      @media (max-width:mixins.toEm(variables.$tablet)) {
        top: 59%;
        left: 52%;
      }
    }

    &:hover {
      img {
        transform: scale(1.1);
      }

      .ozon__img-bg {
        transform: rotate(-40deg);
      }
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @media (max-width:mixins.toEm(variables.$tablet)) {
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    transform: translateX(mixins.toRem(55));

    @media (max-width:mixins.toEm(variables.$tablet)) {
      transform: translateX(0);
    }
  }

  &__title {
    color: var(--white);
    text-transform: uppercase;
    font-weight: 400;
    line-height: 130%;

    @include mixins.adaptiveValue("font-size", 50, 26);
    @include mixins.adaptiveValue("margin-bottom", 35, 23);
  }

  &__text {
    font-weight: 400;
    line-height: 130%;
    color: var(--white);
    max-width: mixins.toRem(650);
    @include mixins.adaptiveValue("margin-bottom", 20, 32);
    @include mixins.adaptiveValue("font-size", 28, 16);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      span {
        font-weight: 700;
      }
    }
  }

  &__button {
    width: 100%;
    max-width: mixins.toRem(427);
    border-radius: mixins.toRem(8);

    @include mixins.adaptiveValue("font-size", 22, 18);
    @include mixins.adaptiveValue("height", 58, 47);

    @media (max-width:mixins.toEm(variables.$tablet)) {
      align-self: center;
    }
  }
}

.footer {
  background-color: var(--red);
  color: var(--light);

  @media (max-width:mixins.toEm(variables.$mobile)) {
    margin-top: -15px;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    gap: mixins.toRem(10);
    justify-content: space-between;
    max-width: mixins.toRem(1350);

    @include mixins.adaptiveValue("padding-top", 80, 39);
    @include mixins.adaptiveValue("padding-bottom", 120, 71);


    @media (max-width:mixins.toEm(variables.$mobile)) {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: mixins.toRem(41);
    }
  }

  &__col {
    display: flex;
    flex-direction: column;

    &:nth-child(3) {
      align-items: flex-end;

      @media (max-width:mixins.toEm(variables.$mobile)) {
        align-items: center;
      }
    }

    a {
      display: block;
      font-size: mixins.toRem(24);
      color: var(--white);

      &:not(:last-child) {
        margin-bottom: mixins.toRem(2);
      }
    }

    span {
      font-size: mixins.toRem(14);
      line-height: math.div(24, 14);
      opacity: 0.8;
    }

    p {
      line-height: math.div(24, 16);
      font-size: mixins.toRem(16);

      .footer__year {
        line-height: inherit;
        font-size: inherit;
        opacity: 1;
      }
    }


    @media (max-width:mixins.toEm(variables.$mobile)) {
      &:not(:last-child) {
        margin-bottom: mixins.toRem(9);
      }
    }
  }

  &__logo {
    height: mixins.toRem(57);

    img {
      height: 100%;
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      order: -1;
    }
  }
}